.movie-list {
    display: flex;
    flex-wrap: wrap;
    margin: 220px 5%;
    gap: 54px;
}

/* Responsive styling: Adjusting for smaller screens */
@media (max-width: 768px) {
    .movie-list {
        justify-content: center;
    }
}