@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.navbar {
    font-family: 'PT Sans', sans-serif;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 75px;
    margin-left: 631px;
}

.navbar-links li {
    position: relative;
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    position: relative;
    padding-bottom: 3px;
}

.navbar-links li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ff3c00;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.navbar-links li a:hover {
    color: #ffcc00;
}

.navbar-links li a:hover::before {
    width: 100%;
}

.search{
    display: flex;
}

.search-icon,
.dark-mode-icon {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s;
}

.search-icon:hover,
.dark-mode-icon:hover {
    transform: scale(1.2);
}

.navbar-search {
    margin-right: 20px; 
}

.navbar-search input {
    width: 260px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

.navbar-search input::placeholder {
    color: #999; 
}

.navbar-search input:focus {
    outline: none;
    background-color: #444;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;
    display: none;
    transition: opacity 0.3s;
    opacity: 0;
}

.navbar-links li:hover .dropdown {
    display: block;
    opacity: 1;
}

.dropdown ul {
    list-style: none;
    padding: 0;
}

.dropdown li {
    text-align: center;
}

.dropdown a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown a:hover {
    background-color: #333;
}
